services:

  api:
    build:
      dockerfile: Dockerfile
      context: .
    environment:
      API_PORT: 5000
      ConnectionString: localUserDocker:MySqlServer2022@tcp(mysqldb:3306)/devbook?charset=utf8&parseTime=True
      SECRET_KEY: mylongdummiestSecretKeyCreated==
      DOCKER: "true"
    ports:
      - "5000:5000"
    depends_on:
      - mysqldb

  mysqldb:
    image: mysql:latest
    environment:
      MYSQL_ROOT_PASSWORD: mysqlRootPassword
      MYSQL_DATABASE: dockerLocal
      MYSQL_USER: localUserDocker
      MYSQL_PASSWORD: MySqlServer2022
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  # mssql_data:
  mysql_data:
